frontend k8s-http
   bind 0.0.0.0:80
   mode http
   acl is_compiler_explorer hdr_end(host) -i compiler-explorer.lab-lpp.local compiler-explorer.lpp.polytechnique.fr
   acl is_graphite hdr_end(host) -i graphite.lab-lpp.local
   acl is_sensors hdr_end(host) -i sensors.lab-lpp.local
   use_backend k8s-compiler-explorer if is_compiler_explorer
   use_backend k8s-graphite-http if is_graphite
   use_backend k8s-graphite-sensors-http if is_sensors

frontend k8s-https
   bind 0.0.0.0:443 ssl crt /etc/haproxy/certificates/
   mode http
   http-request set-header X-Forwarded-Proto: https
   acl is_registry hdr_end(host) -i registry.lpp.polytechnique.fr
   acl is_grafana hdr_end(host) -i grafana.lab-lpp.local
   acl is_teamcity hdr(host) -i teamcity.lab-lpp.local teamcity.lpp.polytechnique.fr
   acl is_elabftw hdr(host) -i elabftw.lab-lpp.local elabftw.lpp.polytechnique.fr
   use_backend k8s-registry-ui if is_registry
   use_backend k8s-grafana if is_grafana
   use_backend k8s-teamcity if is_teamcity
   use_backend k8s-elabftw if is_elabftw
   use_backend k8s-grafana if { path /grafana } or { path_beg /grafana/ }


backend k8s-registry-ui
   mode http
   balance roundrobin
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
   {% for h in groups['workers'] %}
      server {{ h }} {{ hostvars[h].ansible_host }}:30999 check
   {% endfor %}

backend k8s-elabftw
   balance roundrobin
   mode http
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for h in groups['workers'] %}
      server {{ h }} {{ hostvars[h].ansible_host }}:31380 check check-ssl ssl verify none
{% endfor %}

backend k8s-grafana
   balance roundrobin
   mode http
   http-request set-path %[path,regsub(^/grafana/?,/)]
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for h in groups['workers'] %}
      server {{ h }} {{ hostvars[h].ansible_host }}:31080 check check-ssl ssl verify none
{% endfor %}


backend k8s-teamcity
   balance roundrobin
   mode http
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for h in groups['workers'] %}
      server {{ h }} {{ hostvars[h].ansible_host }}:30002 check check-ssl ssl verify none
{% endfor %}



backend k8s-compiler-explorer
   mode http
   balance roundrobin
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for h in groups['workers'] %}
      server {{ h }} {{ hostvars[h].ansible_host }}:30004 check
{% endfor %}


backend k8s-graphite-http
   mode http
   balance roundrobin
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for h in groups['workers'] %}
      server {{ h }} {{ hostvars[h].ansible_host }}:31081 check
{% endfor %}

backend k8s-graphite-sensors-http
   mode http
   balance roundrobin
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for h in groups['workers'] %}
      server {{ h }} {{ hostvars[h].ansible_host }}:31280 check
{% endfor %}